.contact {
    padding: 50px 15px;
    text-align: center;
}

.contact__container {
    max-width: 1170px;
    margin: 0 auto;
}

.contact__form {
    margin: 89px -15px 0;
    display: flex;
    flex-wrap: wrap;
}

.form__left .form-item {
    margin-bottom: 0;
}
.form__left{
    flex: 0 1 50%;
    padding: 0 15px;
}
.form__left .form-item:not(:last-child) input {
    margin-bottom: 53px;
}
.form__right {
    flex: 0 1 50%;
    padding: 0 15px;
}
.form__right textarea{
    resize: none;
    width: 100%;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}
.contact__button {
    margin: 53px auto 0;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    background-color: #EC7979;
    color: #fff;
    padding: 17px 123px 16px 124px;
}