.footer {
    width: 100%;
    background-color: #000;
    padding: 35px 15px 27px;
    min-height: 164px;
}
.footer__container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons__list {
    display: flex;
}
.icons__list:hover>li:not(:hover) {
    opacity: 0.5;
    transition: 0.5s all ease 0s;
}
.icon-fac:hover::before {
    color: #4267b2;
}
.icon-tw:hover::before {
    color: #1da1f2;
}
.icon-link:hover::before {
    color: #007b21;
}
.icon-pint:hover::before {
    color: #bd081c;
}
.icon-insta:hover::before {
    color: #fcaf45;
}
.icon-git:hover::before {
    color: #24292f;
}
.icon-rss:hover::before {
    color: #ee802f;
}
.icons-item:not(:last-child) {
    margin: 0 33px 0 0;
}
.icons-item a {
    font-size: 53px;
}
.footer__copyright::before {
    content: "\00A9";
}
.footer__copyright {
    margin: 28px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}