.header-block {
    width: 100%;
    background-color: #000;
    position: absolute;
}
.header__container {
    max-width: 1225px;
    margin: 0 170px 0 115px;
    display: flex;
    align-items: center;
    min-height: 76px;
}
.header__menu {
    flex: 1 1 auto;
}
.menu {
    display: flex;
    justify-content: end;
}
.header__logo{
    width:87px;
    height:31px;
}
.menu__list {
    display: flex;
}
.menu__item:not(:last-child) {
    margin: 0 54px 0 0;
}
.menu__link {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
}