    .tabs {
        max-width: 1170px;
        margin: 99px auto 50px;
        padding: 0 15px;
        font-size: 0;
    }
    .tabs>input[type="radio"] {
        display: none;
    }
    .tabs>div {
        display: none;
        border: 1px solid #C6CBCD;
        font-size: 16px;
    }
    #tabs-btn-1:checked~#content-1,
    #tabs-btn-2:checked~#content-2,
    #tabs-btn-3:checked~#content-3 {
        display: flex;
    }
    .tabs>label {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
        top: 1px;
        cursor: pointer;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        color: #333333;
        background-color: transparent;
        height: 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        width: 184px;
        border: 0;
    }
    .tabs>label:not(:first-of-type) {
        border-left: none;
    }
    .tabs>input[type="radio"]:checked+label {
        border: 1px solid #C6CBCD;
        border-radius: 5px 5px 0px 0px;
        border-bottom: 1px solid #fff;
        width: 203px;
    }
    .tabs-block {
        display: flex;
    }
    .tabs-block__content {
        flex: 1 1 auto;
        margin-left: 100px;
    }
    .tabs-block__content-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        margin: 42px 0 69px;
    }
    .tabs-block__content-text {
        text-align: left;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
    .tabs-block__content-text p {
        white-space: pre-line;
    }
    .tabs-block__content-text p:first-child {
        margin-bottom: 21px;
    }
    .tabs-block__content-button {
        margin: 27px 0 54px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        width: 270px;
        padding: 0 16px;
        height: 58px;
        color: #fff;
        background-color: #EC7979;
        text-transform: capitalize;
    }
    .tabs-block__content-button:hover {
        background: #AB4949;
        cursor: pointer;
    }
    .tabs-block__content-button:active {
        background: #EC7979;
        box-shadow: inset 0px 0px 10px #AB4949;
    }
    .tabs-block__image {
        flex: 0 0 469px;
        padding: 0 0 0 30px;
    }
    .tabs-block__image img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    @media(max-width:1024px) {
        .tabs {
            margin: 50px auto;
        }
        .tabs>label {
            width: 156px;
        }
        .tabs>input[type="radio"]:checked+label {
            width: 172px;
        }
        .tabs-block__content {
            margin-left: 84px;
        }
        .tabs-block__content-title {
            font-size: 24px;
            line-height: 33px;
            margin: 28px 0 66px;
        }
        .tabs-block__content-text {
            font-size: 14px;
            line-height: 16px;
        }
        .tabs-block__content-text p:first-child {
            margin-bottom: 16px;
        }
        .tabs-block__image {
            flex: 0 0 398px;
            padding: 0 0 0 26px;
        }
        .tabs-block__content-button {
            margin: 38px 0 50px;
            width: 232px;
        }
    }
    @media(max-width:768px) {
        .tabs {
            margin: 41px auto 30px;
        }
        .tabs>label {
            width: 93px;
        }
        .tabs>input[type="radio"]:checked+label {
            width: 102px;
        }
        .tabs-block__content {
            padding: 0 21px 0 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
        }
        .tabs-block__content-title {
            text-align: center;
            font-size: 18px;
            line-height: 25px;
            margin: 31px 0 60px;
        }
        .tabs-block__content-text {
            text-align: center;
            font-size: 13px;
            line-height: 15px;
        }
        .tabs-block__content-text p:first-child {
            margin-bottom: 15px;
        }
        .tabs-block__image {
            display: none;
        }
        .tabs-block__content-button {
            margin: 29px 0 30px;
            width: 243px;
        }
    }
